---
import {getCollection} from 'astro:content';

const usefulLinks = await getCollection('links', ({slug}) => /useful/i.test(slug));

const socialLinks = await getCollection('links', ({slug}) => /social/i.test(slug));
---

<footer>
  <section class="links">
    <section class="useful">
      <h1 class="fs-md" data-no-link="">Useful Links</h1>
      <ul>
        {
          usefulLinks.map(({data: {title, url}}) => (
            <li>
              <a href={url} target="_blank">
                {title}
              </a>
            </li>
          ))
        }
      </ul>
    </section>
    <section class="social">
      <h1 class="fs-md" data-no-link>Social Media</h1>
      <ul>
        {
          socialLinks.map(({data: {title, url}}) => (
            <li>
              <a href={url} target="_blank">
                {title}
              </a>
            </li>
          ))
        }
      </ul>
    </section>
  </section>
  <section class="information">
    <span>Clayton Leonard Cook</span>
    <br />
    <span>Software Engineer</span>
  </section>
</footer>

<style lang="scss">
  footer {
    display: flex;
    gap: 16px;
    flex-direction: column;
    background: var(--primary);
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 600;
    padding: 8px 16px;

    section {
      display: flex;
    }

    > .links {
      display: grid;
      grid-template-columns: 1fr 1fr;
      > section {
        display: flex;
        flex-direction: column;
        > ul {
          list-style: none;
        }
      }
    }

    > .information {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
</style>
